																																																																																															<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
<title>Dados de Entrega</title>
<script th:src="@{/js/demo/jquery.mask.min.js}"></script>
</head>
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="panel panel-default">
			<div class="panel-heading"><br>
				&nbsp;&nbsp;&nbsp;<strong>Detalhes do Pedido</strong>
				<div class="panel-body">
					<div class="table-responsive">
						<table
							class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									&nbsp;&nbsp;&nbsp;<th>Numero do Pedido</th>
									&nbsp;&nbsp;&nbsp;<th>Valor Total com o Frete</th>
									&nbsp;&nbsp;&nbsp;<th>Data do Pedido</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${pedido.id}"></td>
									<td th:text="${pedido.valorTotal}"></td>
								 	<td th:text="${pedido.compra}"></td> 
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="panel-heading">
				&nbsp;&nbsp;&nbsp;<strong>Detalhes do Frete</strong>
				<div class="panel-body">
					<div class="table-responsive">
						<table
							class="table table-sm table-striped table-hover table-bordered">
							<thead>
								<tr>
									&nbsp;&nbsp;&nbsp;<th>Total de dias</th>
									&nbsp;&nbsp;&nbsp;<th>Valor do Frete</th>
									&nbsp;&nbsp;&nbsp;<th>Data de entrega</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td th:text="${frete.totDias}"></td>
									<td th:text="${frete.valor}"></td>
									<td th:text="${frete.dataEntregaCliente}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</div><br><br>
			<div class="form-group row">
		
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/pedido/lista}"
						class="btn btn-sm btn-primary">Lista de Pedidos</a>
		
			</div>
		
	</div>

</body>
</html>