<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar-2"> 
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Opções de Menu</span></li>
					<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-pedido" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Pedido</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-pedido">
						<ul class="nav flex-column sub-menu">
							<li class="nav-pedido"><a class="nav-link"
								th:href="@{/pedido/cadastrar}">Cadastrar</a></li>
							<li class="nav-pedido"><a class="nav-link"
								th:href="@{/pedido/lista}">Listar</a></li>
						</ul>
					</div></li>
				</ul>
			</nav>
</body>
</html>