<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link " href="/"> <i
					class="oi oi-home"></i> <span>Home</span>
			</a></li>
		</ul>

		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="false" aria-controls="collapseTwo"> <i
					class="fas fa-fw fa-clipboard"></i> <span>Cadastrar</span></a>

				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/categoria/cadastrar}">Categoria</a>
						<a class="collapse-item" th:href="@{/autor/cadastrar}">Autor</a> <a
							class="collapse-item" th:href="@{/editora/cadastrar}">Editora</a>
						<a class="collapse-item" th:href="@{/livro/cadastrar}">Livro</a> <a
							class="collapse-item" th:href="@{/usuario/cadastrar}">Usuario</a>
					</div>
				</div></li>
				<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUtilities"
				aria-expanded="true" aria-controls="collapseUtilities"> <i
					class="fas fa-fw fa-search"></i> <span>Consultar</span></a>
					
				<div id="collapseUtilities" class="collapse"
					aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/categoria/lista}">Categoria</a>
						<a class="collapse-item" th:href="@{/autor/lista}">Autor</a>
						<a class="collapse-item" th:href="@{/editora/lista}">Editora</a>
						<a class="collapse-item" th:href="@{/livro/lista}">Livro</a>
						<a class="collapse-item" th:href="@{/usuario/lista}">Usuario</a>
					</div>
				</div>
			</li>
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseComprar"
				aria-expanded="false" aria-controls="collapseComprar"> <i
					class="fas fa-fw fa-book"></i> <span>Fazer Pedido</span></a>
					
				<div id="collapseComprar" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/itemPedido/cadastrar}">Livros</a>
					</div>
				</div>
</li>
		</ul>
	</nav>
</body>
</html>