<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar-2"> 
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Opções de Menu</span></li>
				<!--  	<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Categoria</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-basic">
						<ul class="nav flex-column sub-menu">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/categoria/cadastrar}">Cadastrar</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/categoria/lista}">Listar</a></li>
						</ul>
					</div></li> -->
				<!--	<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-autor" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Autor</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-autor">
						<ul class="nav flex-column sub-menu">
							<li class="nav-autor"><a class="nav-link"
								th:href="@{/autor/cadastrar}">Cadastrar</a></li>
							<li class="nav-autor"><a class="nav-link"
								th:href="@{/autor/lista}">Listar</a></li>
						</ul>
					</div></li> -->
				<!--	<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-editora" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Editora</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-editora">
						<ul class="nav flex-column sub-menu">
							<li class="nav-editora"><a class="nav-link"
								th:href="@{/editora/cadastrar}">Cadastrar</a></li>
							<li class="nav-editora"><a class="nav-link"
								th:href="@{/editora/lista}">Listar</a></li>
						</ul>
					</div></li>   -->
				<!--	<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-livro" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Livro</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-livro">
						<ul class="nav flex-column sub-menu">
							<li class="nav-livro"><a class="nav-link"
								th:href="@{/livro/cadastrar}">Cadastrar</a></li>
							<li class="nav-livro"><a class="nav-link"
								th:href="@{/livro/lista}">Listar</a></li>
						</ul>
					</div></li>
					<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-cidade" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Cidade</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-cidade">
						<ul class="nav flex-column sub-menu">
							<li class="nav-cidade"><a class="nav-link"
								th:href="@{/cidade/cadastrar}">Cadastrar</a></li>
							<li class="nav-cidade"><a class="nav-link"
								th:href="@{/cidade/lista}">Listar</a></li>
						</ul>
					</div></li> -->
				<!--	<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-usuario" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Usuario</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-usuario">
						<ul class="nav flex-column sub-menu">
							<li class="nav-usuario"><a class="nav-link"
								th:href="@{/usuario/cadastrar}">Cadastrar</a></li>
							<li class="nav-usuario"><a class="nav-link"
								th:href="@{/usuario/lista}">Listar</a></li>
						</ul>
					</div></li> -->
					<li class="nav-item"><a class="nav-link" data-toggle="collapse"
					href="#ui-pedido" aria-expanded="false" aria-controls="ui-basic">
						<i class="menu-icon mdi mdi-content-copy"></i> <span
						class="menu-title">Pedido</span> <i class="menu-arrow"></i></a>
					<div class="collapse" id="ui-pedido">
						<ul class="nav flex-column sub-menu">
							<li class="nav-pedido"><a class="nav-link"
								th:href="@{/pedido/cadastrar}">Cadastrar</a></li>
							<li class="nav-pedido"><a class="nav-link"
								th:href="@{/pedido/lista}">Listar</a></li>
						</ul>
					</div></li>
				</ul>
			</nav>
</body>
</html>