<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />

<style>
.holder {
	display: flex;
	justify-content: center;
}

.imagem {
	width: 200px;
	margin: 10px;
	position: relative;
	text-align: center;
}

.imagem::after {
	content: attr(data-title); /* estilo que coloco a legenda no lugar */
	position: absolute;
	width: 100%;
	bottom: -20px;
	left: 0;
}

div.box {
	width: 150px;
	display: inline-block;
}
</style>
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class=""></i>
						<span>Curiosidades</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Exatas</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Spring
							Boot</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">IFRN</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">SPFC</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Albert Einstein</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Python 3</a>
					</div>
				</div>
				
				<div class="col-7">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="#">Exatas:</a>
							Ciências Exatas são as ciências que têm a Matemática, 
							a Química e a Física como peças fundamentais dos seus 
							estudos.Além das 3 áreas básicas e todas as suas 
							subdivisões, tais como Física Quântica e Físico-Química, 
							entre as ciências que também são consideradas exatas temos: 
							Astronomia, Estatística, Ciência da Computação ...
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							<a href="#">Spring Boot:</a> 
							O Spring Boot é um projeto da Spring que veio para facilitar 
							o processo de configuração e publicação de nossas aplicações. 
							A intenção é ter o seu projeto rodando o mais rápido possível 
							e sem complicação.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="#">IFRN</a> 
							O Instituto Federal de Educação, Ciência e Tecnologia 
							do Rio Grande do Norte (IFRN) é uma instituição brasileira de ensino superior, 
							médio, técnico e outras modalidades de ensino, vinculada diretamente ao 
							Ministério da Educação. Criado mediante transformação do 
							Centro Federal de Educação Tecnológica do Rio Grande do Norte (CEFET-RN), 
							o IFRN possui hoje uma estrutura multicampi, com unidades de ensino em diversas 
							regiões estratégicas do estado. 
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="#">SPFC</a> 
							O São Paulo Futebol Clube (conhecido apenas por São Paulo e cujo acrônimo é SPFC) 
							é uma associação esportiva brasileira fundada em 1930, tendo interrompido suas 
							atividades em maio de 1935, e as retomado em dezembro do mesmo ano. No futebol, 
							é um dos clubes mais bem sucedidos do Brasil, sendo que, dentre seus principais títulos, 
							destacam-se os seis Campeonatos Brasileiros, as três Copas Libertadores (recorde nacional 
							compartilhado com Santos e Grêmio), os três Mundiais (recorde absoluto a nível nacional), 
							os vinte e um Campeonatos Paulistas conquistados, e a Copa Sul-Americana de 2012 
							(recorde nacional compartilhado com Internacional, Chapecoense e Atlético Paranaense). 
							Quanto a títulos internacionais, o São Paulo, com 12 conquistas, é o terceiro 
							clube da América do Sul com o maior número de troféus, ficando atrás somente de 
							Boca Juniors e Independiente.
						</div>
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							<a href="#">Albert Einstein</a>
							"Uma vida simples e tranquila traz mais felicidade do que a busca pelo sucesso 
							em um desassossego constante", diz o bilhete entregue pelo cientista, 
							como gorjeta, a um mensageiro, em 1922, no Hotel Imperial, em Tóquio, no Japão. 
							Em outra anotação, Einstein declara: "Onde há um desejo, há um caminho".
						</div>
						<div class="tab-pane fade" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							<a href="#">Python</a> 
							Python é uma linguagem de programação de alto nível, interpretada, 
							de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte. 
							Foi lançada por Guido van Rossum em 1991.Atualmente possui um modelo de desenvolvimento comunitário, 
							aberto e gerenciado pela organização sem fins lucrativos Python Software Foundation. 
							Apesar de várias partes da linguagem possuírem padrões e especificações formais, 
							a linguagem como um todo não é formalmente especificada. O padrão de facto é a implementação CPython. 
						</div>
					</div> 
				</div>
			</div>
		</div>

	</section>
</body>
</html>