<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo">
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Cadastrar Editoras</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/editora/lista" role="button">
	                    <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
	                    <span>Listar Editoras</span>
	                </a>
	            </div>
	        </nav>
	
	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert"></div>
	        	
				<form th:action="@{/editora/salvar}" 
				      th:object="${editora}" method="POST">
				    <div class="form-row">
				        <div class="form-group col-md-7">
				            <label for="nome">Editora</label>
				            <input type="text" class="form-control" id="nome"
				                   placeholder="Nome Editora" autofocus="autofocus" th:field="*{nome}" required/>
				        </div>
				        <div class="form-group col-md-7">
				            <label for="cidade">Cidade</label>
				 			<input type="text" class="form-control" id="cidade"
				                   placeholder="Cidade Editora" autofocus="autofocus" th:field="*{cidade}" required/>
				        </div>
				    </div>
				    <input type="hidden" id="id" th:field="*{id}"/>
				    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
				</form>
	        </div>
	    </section>
</body>
</html>
